/*:root {*/
/*  !* light mode *!*/
/*  --background-light: #ffffff;*/

/*  --on-background-light: #000000;*/



/*  !* dark mode *!*/
/*  --background-dark: #03061f;*/

/*  --on-background-dark: #cbcbcb;*/



/*  !*default*!*/
/*  --background: var(--background-light);*/

/*  --on-background: var(--on-background-light)*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: var(--background-dark);*/

/*    --on-background: var(--on-background-dark);*/
/*  }*/
/*}*/



#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.partially-transparent {
  opacity: 0.5;
}

button:hover,
a:hover {
  cursor: pointer;
}
