.Order {
    position: relative;
    padding: 1px 0 2px clamp(20px, 5%, 5%);
    width: calc(100% - clamp(20px, 5%, 5%));
    border: 1px solid var(--on-background);
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
    .Order {
        border: none;
        background-color: var(--container);
    }
}

.Order::after {
    position: absolute;
    content:'';

    height: 90%;
    width: 10px;

    background-color: gray;

    top: 5%;

    left: 3px;

    border-radius: 100px;
}

.Order[data-order-status="1"]::after {
    background-color: #eeee00;
}

.Order[data-order-status="2"]::after {
    background-color: #0c9407;
}